services:
    tautulli:
        image: linuxserver/tautulli:latest
        container_name: tautulli
        restart: unless-stopped
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - TZ=Europe/Berlin
        volumes:
            - ./confdir:/config
            - ../plex/confdir/Library/Application Support/Plex Media Server/Logs:/logs:ro
        ports:
            - 8181:8181
